<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pharos.aalamjobsemployer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_test"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_employer_logo_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.talents.TalentSearchDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.vacancies.CvWebPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.job.JobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.talents.TalentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.vacancies.JobsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pharos.aalamjobsemployer.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>